:root{
    --primary-color: #AF8F3E;
    --secondary-color: #222642;
}

h1, h2, h3, h4, h5, h6{
    color: var(--primary-color);
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header, main, footer{
    max-width: 640px;
    margin: 0 auto;
}

header{
    background-color: var(--secondary-color);
    padding: 0.25rem;
}

/* navigation */

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	right: 1.5rem;
	top: 1.15rem;
    color: var(--primary-color);
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: var(--primary-color);
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--primary-color);
    background: var(--secondary-color);
}
.navigation a:hover {
	background-color: #adadad;
	color: #333;
	font-weight: 700;
}

.open a {
	display: block;
}

footer{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 0.25rem;
}

footer a{
	text-decoration: none;
	color: var(--primary-color);
}

/* Home */

#home h2{
	background-color: var(--secondary-color);
	padding: 0.5rem;
}

#sasau-img{
	width: 300px;
	height: auto;
}

#trosky-img{
	width: 300px;
	height: auto;
}

#kuttenberg-img{
	width: 300px;
	height: auto;
}

/* Form */

#contact-form {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-grow: 1; /* Allow main to take up available space */
}

#contact-form form {
    width: 500px; /* Adjust as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding in width */
}

#contact-form label {
    display: block; /* Make labels stack on top of inputs */
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#contact-form input[type="submit"] {
    background-color: var(--secondary-color); /* Green submit button */
    color: var(--primary-color);
    cursor: pointer;
}

/* #contact-form input[type="submit"]:hover {
    background-color: var(--secondary-color);
} */

#thank-you-message {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    flex-grow: 1;
    text-align: center;
}

#thank-you-message div {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 70%; /* Or adjust the width as needed */
    max-width: 600px; /* Set a maximum width */
    box-sizing: border-box; /* Include padding and border in width */
}

#thank-you-message p {
    margin-bottom: 10px;
}